<!DOCTYPE html>
<html>
<head>
    <title>Everafter Dashboard</title>
    <meta name="description" content="An elegant app for real-time photo sharing at weddings and events.">
    <meta name="keywords" content="Event photograph sharing, Photo sharing app, Event planning, Wedding photography,Wedding TV, Wedding screen, TV at wedding, Party photography, Concert photography, Event photo upload, Private photo sharing, Event slideshow, Real-time photo sharing, Best photo sharing app for events, How to collect wedding photos from guests, Real-time slideshow for parties, Secure photo upload for events, Event photography tips and tricks, Crowd-sourced event photography, Photo sharing solutions for event planners, Download event photos in bulk, Private directory for event photos, Share full-resolution photos online, Corporate event photo sharing, Festival photography app, Art gallery opening photography, Charity event photo collection, School event photography, Sports event photo sharing, Family reunion photo app, Church event photography, Trade show photo upload, Virtual event photography">
    <meta property="og:title" content="Everafter: Elegant Real-Time Photo Sharing for Events">
    <meta property="og:description" content="An app for real-time photo sharing at weddings and events. Take complete control of your event photos.">
    <meta property="og:image" content="https://everafter.pics/images/everafter_opengraph.png">
    <meta property="og:url" content="https://everafter.pics">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--<script src="/js/ea.js"></script> -->
    <script src="https://kit.fontawesome.com/c72e3efc2c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 

  <div class="maincontainer">
    <img class="logo" src="/images/ea_large_logo_full_blk.png">
    <h4>Welcome, <%= user.username %> </h4>

    <% if (locals.success) { %>
        <p class="success-message"><%= success %></p>
    <% } %>

    
   <a href="/admin-upload/<%= user.username %>"> <p class="eabutton" title="(because uploading isn't just for guests)">Start Uploading Images </p></a>
   
    <br>
    <a href="/livefeed/<%= user.username %>" target="_blank"> <p class="eabutton" title="(this is what you can send to the big screen. it opens here in a new window)">View the Live Feed </p></a>
   
    
    <br>

    <!-- Trigger/Open the QR Modal -->
<button onclick="document.getElementById('id01').style.display='block'"class="eabutton" title="(for easy sharing the upload link with your guests)"></i> Your Event QR Code </button>


<!-- The QR Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>
      <a href="<%= qrCodeDataURL %>" download><img src="<%= qrCodeDataURL %>" alt="Your QR Code" class="w3-image eacenter"></a> <br>
      <p>This is a QR code that you can use to share with event guests to allow them to upload images. They can point their phone's
         camera at it and then click on the link it generates. It's much easier than typing it in to a web browser.
        If you click (or tap) on it it will download to your device so you can print it, or even upload it to the live feed so all your
         guests can see it and start uploading pictures for you.</p><br><br><br>
    </div>
  </div>
</div>
<br><br>
<a href="/download/<%= user.username %>"" class="eabutton" title="Grab every image from your event in a single zip file">One Click Download </a> 

<br><br>

    <!-- Trigger/Open the Help Modal -->
    <button onclick="document.getElementById('id02').style.display='block'"
    class="eabutton">Help!</button>
    
    <!-- The help Modal -->
    <div id="id02" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="document.getElementById('id02').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
          <div class="helptext">
          <h3>Everafter is really simple</h3>
          <p>Upload a file and it becomes viewable on your own custom live feed. That's really the main bit. </p> 
          <p>To upload an image, guests don't even need to be logged in, they just need a simple web link.
            They can get that link easily by either scanning the QR code that is generated for you when you click on the QR Code button in the dashboard (or the one we just generated for you below), or they can just type it out as 
            they are usually pretty simple, it will be something like everafter.pics/livefeed/yourusername. When guests visit that link, they are presented with a nice little interface where they can immediately start uploading files.
            There's also a handy link for them to view the live feed that they can view directly on their own device.</p>

            <img src="<%= qrCodeDataURL %>" alt="Your QR Code" class="smallqr"><br><br>



          <h3>You are in control</h3>
          <p>The primary account possesses moderator functions. Essentially, this grants the ability to oversee uploads and, if necessary, delete files. To moderate images,
             the user should click the toolbar <i class="fa-solid fa-gear" style="color: #96969e;"></i> located at the top right corner of the Live Feed page and then select the <i class="fa-solid fa-image" style="color: #96969e;"></i> moderation icon. This action will display a gallery
              of all uploaded images. Each image will feature a <i class="fa-solid fa-delete-left" style="color: #d90d0d;"></i> red delete icon in its top right corner. A single click on this red icon will remove the image from the Live
               Feed. Subsequently, the removed image will be archived in a "deleted" folder, which will be incorporated into the one-click downloadable zip file after the
                event concludes."</p>


          

            <img src="/images/help_moderate.png"alt="using the moderation functions image" class="smallqr"> <br><br>
          
            <h3>You get the goods</h3>
            <p>When the event is over, the event host can download every file that was shared by guests in one convenient zip file. Archive it for saffety, or because you aren't scraping images from some social media platform, for printing.
               
             <p class="eacenter">Still have questions? Contact us at <a href="mailto:customersupport@everafter.pics"target="_blank">  customersupport@everafter.pics</a></p>  
          </div>
        </div>
      </div>
    </div>


  
</div>

<script>
  // Get the modals
  var modal1 = document.getElementById('id01');
  var modal2 = document.getElementById('id02');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal1) {
      modal1.style.display = "none";
    }
    if (event.target == modal2) {
      modal2.style.display = "none";
    }
  }
</script>
  <!-- Include footer -->
  <%- include('partials/footer') %>
</body>
</html>
